<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Create on 2017-7-27 下午1:51
  ~ FileName: AndroidManifest.xml
  ~ Author: Ren Yaowei
  ~ Blog: http://www.renyaowei.top
  ~ Email renyaowei@foxmail.com
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="renyaowei.top.videocontroller">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>